/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/pointing.h>

&lt { // layer-tap
  tapping-term-ms = <200>;
  quick-tap-ms = <200>;
  flavor = "hold-preferred";
};
&mt { // mod-tap
  tapping-term-ms = <200>;
  quick-tap-ms = <200>;
  flavor = "tap-preferred";
};
&mmv {
        time-to-max-speed-ms = <500>;
        acceleration-exponent=<1>;
};
&msc {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <0>;
};
/ {

    keymap {
      compatible = "zmk,keymap";

      default_layer {
          bindings = <
//      ╭───────────────────────────────────────────────────────────╮   ╭───────────────────────────────────────────────────────────╮
//      │     Q     │     W     │     E     │     R     │     T     │   │     Y     │     U     │     I     │     O     │     P     │
            &kp Q       &kp W       &kp E        &kp R      &kp T           &kp Y       &kp U       &kp I       &kp O       &kp P
//      ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
//      │     A     │     S     │     D     │     F     │     G     │   │     H     │     J     │     K     │     L     │     :     │
          &mt LGUI A &mt LSHIFT S &mt LALT D &mt LCTRL F    &kp G           &kp H    &mt RCTL J   &mt RALT K &mt RSHFT L &mt RGUI SEMI
//      ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
//      │     Z     │     X     │     C     │     V     │     B     │   │     N     │     M     │     ,     │     .     │     /     │
            &kp Z       &kp X       &kp C      &kp V       &kp B           &kp N        &kp M     &kp COMMA    &kp DOT    &kp SLASH
//      ╰───────────┼───────────┼───────────┼───────────┼───────────╯   ╰───────────┼───────────┼───────────┼───────────┼───────────╯
//                                   ESC      Backspace     Space           Tab         Enter      Delete
//                              │                                   │   │                                   │
                                   &kp ESC   &kp BSPC    &lt 1 SPACE      &lt 2 TAB   &lt 4 ENTER  &lt 3 DEL
//                              ╰───────────────────────────────────╯   ╰───────────────────────────────────╯
          >;
      };
        layer1 {
          bindings = <
//      ╭───────────────────────────────────────────────────────────╮   ╭───────────────────────────────────────────────────────────╮
//      │     !     │     @     │     #     │     $     │     %     │   │     ^     │     &     │     *     │     -     │     =     │
          &kp EXCL      &kp AT     &kp HASH    &kp DLLR   &kp PRCNT       &kp CARET   &kp AMPS    &kp STAR    &kp MINUS    &kp EQUAL
//      ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
//      │     _     │     _     │     _     │     _     │     _     │   │     `     │     '     │     |     │     "     │     :     │
          &kp LGUI   &kp LSHIFT   &kp LALT    &kp LCTRL    &kp F20        &kp GRAVE    &kp SQT    &kp PIPE     &kp DQT    &kp COLON
//      ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
//      │     _     │     _     │     _     │     _     │     _     │   │     [     │     ]     │     (     │     )     │     \     │
          &kp F20     &kp F20      &kp F20     &kp F20     &kp F20        &kp LBKT    &kp RBKT     &kp LPAR   &kp RPAR    &kp BSLH
//      ╰───────────┼───────────┼───────────┼───────────┼───────────╯   ╰───────────┼───────────┼───────────┼───────────┼───────────╯
//                                   ___         ___         ___            ___         ___         ___
//                              │                                   │   │                                   │
                                   &kp F20     &kp F20     &kp F20        &kp TAB     &kp ENTER    &kp DEL
//                              ╰───────────────────────────────────╯   ╰───────────────────────────────────╯
          >;
        };
        layer2 {
          bindings = <
//      ╭───────────────────────────────────────────────────────────╮   ╭───────────────────────────────────────────────────────────╮
//      │     _     │     _     │     _     │     _     │     _     │   │     _     │     _     │     _     │     _     │     _     │
          &kp K_CUT  &kp K_COPY &mmv MOVE_Y(-3200) &kp K_PASTE &kp F20 &kp INSERT &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP &msc SCRL_RIGHT
//      ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
//      │     _     │     _     │     _     │     _     │     _     │   │     _     │     _     │     _     │     _     │     _     │
&kp LGUI &mmv MOVE_X(-3200) &mmv MOVE_Y(3200) &mmv MOVE_X(3200) &kp HOME &kp PG_UP    &mkp LCLK   &mkp RCLK   &mkp MCLK   &kp PSCRN
//      ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
//      │     _     │     _     │     _     │     _     │     _     │   │     _     │     _     │     _     │     _     │     _     │
//           ___         ___         ___         ___         ___             ___         ___         ___         ___         ___     
          &kp F20     &kp LSHFT   &kp LALT    &kp LCTL    &kp END         &kp PG_DN   &kp LEFT    &kp DOWN     &kp UP     &kp RIGHT 
//      ╰───────────┼───────────┼───────────┼───────────┼───────────╯   ╰───────────┼───────────┼───────────┼───────────┼───────────╯
//                                   ___         ___         ___            ___         ___         ___
//                              │                                   │   │                                   │
                                &kp F20 &kp F20 &mmv MOVE_Y(-3200)      &kp F20    &kp F20     &kp F20
//                              ╰───────────────────────────────────╯   ╰───────────────────────────────────╯
          >;
        };
        layer3 {
          bindings = <
//      ╭───────────────────────────────────────────────────────────╮   ╭───────────────────────────────────────────────────────────╮
//      │     _     │     _     │     _     │     _     │     _     │   │     _     │     _     │     _     │     _     │     _     │
          &kp F20      &kp F7      &kp F8      &kp F9      &kp F10      &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR
//      ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
//      │     _     │     _     │     _     │     _     │     _     │   │     _     │     _     │     _     │     _     │     _     │
          &kp F20      &kp F4      &kp F5      &kp F6      &kp F11        &kp F20     &kp RCTL    &kp RALT    &kp RSHFT    &kp RGUI
//      ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
//      │     _     │     _     │     _     │     _     │     _     │   │     _     │     _     │     _     │     _     │     _     │
          &kp F20      &kp F1      &kp F2      &kp F3      &kp F12        &kp F20     &kp F20     &kp F20     &kp F20      &kp F20
//      ╰───────────┼───────────┼───────────┼───────────┼───────────╯   ╰───────────┼───────────┼───────────┼───────────┼───────────╯
//                                   ___         ___         ___            ___         ___         ___
//                              │                                   │   │                                   │
                                   &kp F20     &kp F20     &kp F20        &kp F20     &kp F20     &kp F20
//                              ╰───────────────────────────────────╯   ╰───────────────────────────────────╯
          >;
        };
        layer4 {
          bindings = <
//      ╭───────────────────────────────────────────────────────────╮   ╭───────────────────────────────────────────────────────────╮
//      │     _     │     _     │     _     │     _     │     _     │   │     _     │     _     │     _     │     _     │     _     │
          &kp ENTER    &kp N7      &kp N8      &kp N9     &kp EQUAL        &kp F20     &kp F20     &kp F20     &kp F20     &kp F20
//      ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
//      │     _     │     _     │     _     │     _     │     _     │   │     _     │     _     │     _     │     _     │     _     │
          &kp STAR     &kp N4      &kp N5      &kp N6     &kp PLUS         &kp F20     &kp RCTL    &kp RALT    &kp RSHFT   &kp RGUI
//      ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
//      │     _     │     _     │     _     │     _     │     _     │   │     _     │     _     │     _     │     _     │     _     │
          &kp SLASH    &kp N1      &kp N2      &kp N3     &kp MINUS        &kp F20     &kp F20     &kp F20     &kp DOT     &kp F20 
//      ╰───────────┼───────────┼───────────┼───────────┼───────────╯   ╰───────────┼───────────┼───────────┼───────────┼───────────╯
//                                   ___         ___         ___            ___         ___         ___
//                              │                                   │   │                                   │
                                   &kp N0      &kp BSPC   &kp SPACE        &kp F20     &kp F20     &kp F20
//                              ╰───────────────────────────────────╯   ╰───────────────────────────────────╯
          >;
        };
  }; 
};  

//                                  Template for new layers all keys are transparent
//      ╭───────────────────────────────────────────────────────────╮   ╭───────────────────────────────────────────────────────────╮
//      │     _     │     _     │     _     │     _     │     _     │   │     _     │     _     │     _     │     _     │     _     │
//           ___          ___         ___         ___         ___             ___         ___         ___         ___         ___     
//      ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
//      │     _     │     _     │     _     │     _     │     _     │   │     _     │     _     │     _     │     _     │     _     │
//           ___         ___         ___         ___         ___             ___         ___         ___         ___         ___     
//      ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
//      │     _     │     _     │     _     │     _     │     _     │   │     _     │     _     │     _     │     _     │     _     │
//           ___         ___         ___         ___         ___             ___         ___         ___         ___         ___     
//      ╰───────────┼───────────┼───────────┼───────────┼───────────╯   ╰───────────┼───────────┼───────────┼───────────┼───────────╯
//                                   ___         ___         ___            ___         ___         ___
//                              │                                   │   │                                   │
//                              ╰───────────────────────────────────╯   ╰───────────────────────────────────╯
